<div>
  <canvas #bodycanvas width="400" height="500">
    <img #bodyimg src="../../assets/images/bodies.png" (load)="drawBody()"/>
  </canvas>
  <!--<div class="bodynavigation">-->
  <!--<a href="#!" (click)="getPrevBody()"><i class="medium material-icons">chevron_left</i></a>-->
  <!--<button class="waves-effect waves-light btn-large disabled">Bodies</button>-->
  <!--<a href="#!" (click)="getNextBody()"><i class="medium material-icons">chevron_right</i></a>-->
  <!--</div>-->
  <!--<button class="waves-effect waves-light btn" (click)="getPrevBody()">Prev body</button>-->
  <!--<button class="waves-effect waves-light btn" (click)="getNextBody()">Next body</button>-->

</div>
