.todo{
  border-bottom: 1px solid grey;
  transition-duration: 0.5s;
}
//.todo-title{
//  transition-duration: 0.5s;
//}
.todo:hover{
  color: #0D47A1;
  font-weight: bold;
  padding-left: 15px;
  background-color: #ECEFF1;
}
.delete-btn{
color: white;
background-color: #F4511E;
margin-right: 100px;
}
