<div class="contennt">
  <h3>
    This project created for author's learning purpose.
  </h3>
  <h4>
    The idea of the app is the following:
  </h4>
  <p>
    Only tasks which are upcoming tasks. (tasks about 10 hours from now.. but this period is configurable). All tasks can be <br>
    in different states (states are also configurable). As time approaches to tasks execution the cloud grows and changes its colors <br>
    and the "motivating dude" shows that he's deeply disturbed about this with different mimics depending on task's state.
  </p>
</div>
