.new-task{
  position: absolute;
  margin-left: 40%;
  margin-top: 16em;
}
.tasks-list {
  list-style: none;
  width: auto;
  padding: 0;
  display: table;
}
.todo {
  background-color: #00d6b2;
  box-shadow: 3px 3px 2px grey;
  border-radius: 5em;
  width: 10em;
  height: 10em;
  line-height: 10em;
  display: table-cell;
  text-align: center;
  position: absolute;
  z-index: -1;
}
